body, html{
    margin: 0;
    padding: 0;
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 2px solid hsl(0, 0%, 0%);
    width: 350px;
    box-shadow: 6px 6px hsl(0, 0%, 0%);
    transition-duration: 1s;
}
#card-container:hover{
    transition-duration: 0.2s;
    box-shadow: 13px 13px hsl(0, 0%, 0%);
}
#img-container, #text-container, #logo-container{
    width: 90%;
}
#img-container{
    margin-right: 40px;
    margin: 20px auto;
}
#img-article{
    border-radius: 10px;
    width: 100%;
}
button{
    margin-top: 20px;
    padding:7px 20px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}
#text-1{
    margin-bottom: 0;
}
#text-container{
    display: flex;
    flex-wrap: wrap;
    align-items:start;
    /* border: 1px solid black; */
}
h1{
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 0;
}
h1:hover{
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}
#text-2{
    color: hsl(0, 0%, 50%);
    font-weight: 500;
    font-size: 16px;

}
#logo-container{
     /* border: 1px solid black; */
     display: flex;
     flex-wrap: wrap;
     margin: 10px 0;
     font-weight: 800;
}
#logo{
    width: auto;
    height: 80%;
    margin-right: 10px;
    /* margin-bottom: 10px; */
}

@media screen and (max-width: 440px){
    #card-container{
        width: 300px;
        transition-duration: 1s;
    }
    h1{
        font-size: 1.2rem;
    }
    #text-2{
        font-size: 14px
    }
}
